{% extends 'base.html.twig' %}

{% block title %}Welcome to ASA{% endblock %}


{% block body %}
    <main>

        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('media/don.jpg') }}">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Example headline.</h1>
                            <p>Some representative placeholder content for the first slide of the carousel.</p>
                            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Another example headline.</h1>
                            <p>Some representative placeholder content for the second slide of the carousel.</p>
                            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                    <div class="container">
                        <div class="carousel-caption text-end">
                            <h1>One more for good measure.</h1>
                            <p>Some representative placeholder content for the third slide of this carousel.</p>
                            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <section id="team">
            <div class="container my-3 py-5 text-center">
                <div class="row mb-5">
                    <div class="col">
                        <h1>Notre équipe</h1>
                        <p class="mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit assumenda, rerum autem
                            doloribus velit ipsum</p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{ asset('media/mbaye.jpg') }}" style="height: 130px" alt="Image d'Arona" class="img-fluid rounded-circle w-50 mb-3">
                                <h3>M. MBAYE</h3>
                                <h5>Président</h5>
                                <p>Je suis le fondateur d'ASA. Une association que j'ai mise en place en 2019 avec mes proches dans le but de venir en aide les personnes dans des situations précaires</p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-facebook">
                                            </i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{ asset('media/person2.jpg') }}" alt="Image de Rama" class="img-fluid rounded-circle w-50 mb-3">
                                <h3>Audrey KHOULE</h3>
                                <h5>Trésorière</h5>
                                <p>Je tiens la comptabilité de l'association. Je me charge de gérer les versements et paiements et de les présenter lors de assemblées générales.</p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-facebook">
                                            </i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{ asset('media/person3.jpg') }}" alt="Image de Daouda" class="img-fluid rounded-circle w-50 mb-3">
                                <h3>Bara NDIAYE</h3>
                                <h5>Conseiller</h5>
                                <p>Je suis chargé d'étudier, de proposer et de soumettre des projets durant les assemblées pour la validation et le financement de celui qui sera retenu par vote.</p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-facebook">
                                            </i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{ asset('media/person4.jpg') }}" alt="Image d'Abdou" class="img-fluid rounded-circle w-50 mb-3">
                                <h3>Mamadou DIOUF</h3>
                                <h5>Secrétaire</h5>
                                <p>Je suis chargé d'établir les comptes-rendus lors de nos réunions/assemlées générales mais aussi d'effectuer des tâches administratives et </p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-facebook">
                                            </i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{ asset('media/cheikhDiop.jpg') }}" style="height: 130px" alt="Image d'Abdou" class="img-fluid rounded-circle w-50 mb-3">
                                <h3>Cheikh DIOP</h3>
                                <h5>Secrétaire</h5>
                                <p>Je suis chargé d'établir les comptes-rendus lors de nos réunions/assemlées générales mais aussi d'effectuer des tâches administratives et </p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-facebook">
                                            </i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{ asset('media/cheikhKonte.jpg') }}" style="height: 130px" alt="Image d'Abdou" class="img-fluid rounded-circle w-50 mb-3">
                                <h3>Cheikh Konte</h3>
                                <h5>Secrétaire</h5>
                                <p>Je suis chargé d'établir les comptes-rendus lors de nos réunions/assemlées générales mais aussi d'effectuer des tâches administratives et </p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-facebook">
                                            </i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{ asset('media/cherifBa.jpg') }}" style="height: 130px" alt="Image d'Abdou" class="img-fluid rounded-circle w-50 mb-3">
                                <h3>Cherif Bâ</h3>
                                <h5>Secrétaire</h5>
                                <p>Je suis chargé d'établir les comptes-rendus lors de nos réunions/assemlées générales mais aussi d'effectuer des tâches administratives et </p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-facebook">
                                            </i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for team in teams  %}
                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <img src="{{ vich_uploader_asset(team, 'imageFile') }}" alt="Image {{ team.name }}" class="img-fluid rounded-circle w-50 mb-3">
                                    <h3>{{ team.name }}</h3>
                                    <h5>Secrétaire</h5>
                                    <p>{{ team.entitled }}</p>
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="p-4">
                                            <a href="#">
                                                <i class="bi bi-facebook">
                                                </i>
                                            </a>
                                        </div>
                                        <div class="p-4">
                                            <a href="#">
                                                <i class="bi bi-twitter"></i>
                                            </a>
                                        </div>
                                        <div class="p-4">
                                            <a href="#">
                                                <i class="bi bi-instagram"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Si vous avez une quelconque demande par-rapport à notre association, veuillez nous la faire part via ce formulaire.</p>
                </div>

                <div class="row">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="phone" id="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Téléphone:</h4>
                                <p>+33698134855</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>actionssocialesafrique@gmail.com</p>
                            </div>

                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Localisation:</h4>
                                <p></p>
                            </div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2688.219183476324!2d6.853331215467716!3d47.64130739357321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47923b61659e0473%3A0x54aa136491d0d0bf!2s5%20Bd%20du%20Mar%C3%A9chal%20Joffre%2C%2090000%20Belfort!5e0!3m2!1sfr!2sfr!4v1654601233052!5m2!1sfr!2sfr" width="498" height="450" style="border:0;"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>

                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Votre nom</label>
                                    <input type="text" name="name" class="form-control" id="name" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Votre Email</label>
                                    <input type="email" class="form-control" id="name" name="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Sujet</label>
                                <input type="text" class="form-control" name="subject" id="name" required>
                            </div>
                            <div class="form-group">
                                <label for="name">Message</label>
                                <textarea class="form-control" name="message" id="name" rows="10" required></textarea>
                            </div>

                            <div class="text-center"><button type="submit">Envoyer</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->


        <!-- FOOTER -->
        <footer class="container">
            <p class="float-end"><a href="#">Back to top</a></p>
            <p>&copy; Some stuff about ASA &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
    </main>
{% endblock %}
