{% extends 'base.html.twig' %}

{% block title %}Welcome to ASA{% endblock %}


{% block body %}
    <main>
        <section id="team">
            <div class="container my-3 py-5 text-center">
                <div class="row mb-5">
                    <div class="col">
                        <h1>Notre équipe</h1>
                        <p class="mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit assumenda, rerum autem
                            doloribus velit ipsum</p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{ asset('media/mbaye.jpg') }}" style="height: 130px" alt="Image d'Arona" class="img-fluid rounded-circle w-50 mb-3">
                                <h3>M. MBAYE</h3>
                                <h5>Président</h5>
                                <p>Je suis le fondateur d'ASA. Une association que j'ai mise en place en 2019 avec mes proches dans le but de venir en aide les personnes dans des situations précaires</p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-facebook">
                                            </i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{ asset('media/person2.jpg') }}" alt="Image de Rama" class="img-fluid rounded-circle w-50 mb-3">
                                <h3>Audrey KHOULE</h3>
                                <h5>Trésorière</h5>
                                <p>Je tiens la comptabilité de l'association. Je me charge de gérer les versements et paiements et de les présenter lors de assemblées générales.</p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-facebook">
                                            </i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{ asset('media/person3.jpg') }}" alt="Image de Daouda" class="img-fluid rounded-circle w-50 mb-3">
                                <h3>Bara NDIAYE</h3>
                                <h5>Conseiller</h5>
                                <p>Je suis chargé d'étudier, de proposer et de soumettre des projets durant les assemblées pour la validation et le financement de celui qui sera retenu par vote.</p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-facebook">
                                            </i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{ asset('media/person4.jpg') }}" alt="Image d'Abdou" class="img-fluid rounded-circle w-50 mb-3">
                                <h3>Mamadou DIOUF</h3>
                                <h5>Secrétaire</h5>
                                <p>Je suis chargé d'établir les comptes-rendus lors de nos réunions/assemlées générales mais aussi d'effectuer des tâches administratives et </p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-facebook">
                                            </i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{ asset('media/cheikhDiop.jpg') }}" style="height: 130px" alt="Image d'Abdou" class="img-fluid rounded-circle w-50 mb-3">
                                <h3>Cheikh DIOP</h3>
                                <h5>Secrétaire</h5>
                                <p>Je suis chargé d'établir les comptes-rendus lors de nos réunions/assemlées générales mais aussi d'effectuer des tâches administratives et </p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-facebook">
                                            </i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{ asset('media/cheikhKonte.jpg') }}" style="height: 130px" alt="Image d'Abdou" class="img-fluid rounded-circle w-50 mb-3">
                                <h3>Cheikh Konte</h3>
                                <h5>Secrétaire</h5>
                                <p>Je suis chargé d'établir les comptes-rendus lors de nos réunions/assemlées générales mais aussi d'effectuer des tâches administratives et </p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-facebook">
                                            </i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{ asset('media/cherifBa.jpg') }}" style="height: 130px" alt="Image d'Abdou" class="img-fluid rounded-circle w-50 mb-3">
                                <h3>Cherif Bâ</h3>
                                <h5>Secrétaire</h5>
                                <p>Je suis chargé d'établir les comptes-rendus lors de nos réunions/assemlées générales mais aussi d'effectuer des tâches administratives et </p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-facebook">
                                            </i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for team in teams  %}
                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <img src="{{ vich_uploader_asset(team, 'imageFile') }}" alt="Image {{ team.name }}" style="height: 130px" class="img-fluid rounded-circle w-50 mb-3">
                                    <h3>{{ team.name }}</h3>
                                    <h5>Secrétaire</h5>
                                    <p>{{ team.entitled }}</p>
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="p-4">
                                            <a href="#">
                                                <i class="bi bi-facebook">
                                                </i>
                                            </a>
                                        </div>
                                        <div class="p-4">
                                            <a href="#">
                                                <i class="bi bi-twitter"></i>
                                            </a>
                                        </div>
                                        <div class="p-4">
                                            <a href="#">
                                                <i class="bi bi-instagram"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

    </main>
{% endblock %}
