{% extends 'base.html.twig' %}

{% block title %}Welcome to ASA{% endblock %}


{% block body %}
    <main>
        <section id="team">
            <div class="container my-3 py-5 text-center">
                <div class="row mb-5">
                    <div class="col">
                        <h1>Notre équipe</h1>
                        <p class="mt-3">Les membres sont toutes les personnes, physiques ou morales, qui participent à l’association.
                            Dans l’organisaton, on distingue plusieurs types de membres :</p>
                     <ul>
                            <li>Les membres fondateurs ou membres du bureau tiennent la direction générale de
                                l’association.</li>
                            <li>Les membres "d'honneur" et les membres bienfaiteurs sont des distinctions honorifiques
                                sans pour autant avoir une présence effective, ni participation au quotidien.</li>
                            <li>Les membres donateurs sont ceux qui font des dons, ils sont pour autant bienfaiteurs.</li>
                        </ul>

                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{ asset('media/mbaye.jpg') }}" style="height: 130px" alt="Image d'Arona" class="img-fluid rounded-circle w-50 mb-3">
                                <h3>M. MBAYE</h3>
                                <h5>Président</h5>
                                <p>Je suis le fondateur d'ASA. Une association que j'ai mise en place en 2019 avec mes proches dans le but de venir en aide les personnes en situations précairité.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{ asset('media/audrey.jpg') }}" style="height: 133px" class="img-fluid rounded-circle w-50 mb-3">
                                <h3>Audrey KHOULE</h3>
                                <h5>Trésorière</h5>
                                <p>Je tiens la comptabilité de l'association. Je me charge de gérer les versements et paiements et de les présenter lors de assemblées générales.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{ asset('media/Bara.jfif') }}" alt="Image de Daouda" class="img-fluid rounded-circle w-50 mb-3">
                                <h3>Bara NDIAYE</h3>
                                <h5>Conseiller</h5>
                                <p>Je suis chargé d'étudier, de proposer et de soumettre des projets durant les assemblées pour la validation et le financement de celui qui sera retenu par vote.</p>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{ asset('media/assane.jfif') }}" alt="Image d'Abdou" class="img-fluid rounded-circle w-50 mb-3">
                                <h3>Assane THIAM</h3>
                                <h5>Secrétaire</h5>
                                <p>Je suis chargé d'établir les comptes-rendus lors de nos réunions/assemblées générales mais aussi d'effectuer des tâches administratives. </p>
                            </div>
                        </div>
                    </div>
                    {% for team in teams  %}
                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <img src="{{ vich_uploader_asset(team, 'imageFile') }}" alt="Image {{ team.name }}" style="height: 130px" class="img-fluid rounded-circle w-50 mb-3">
                                    <h3>{{ team.name }}</h3>
                                    <h5>Membre</h5>
                                    <p>{{ team.entitled }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

    </main>
{% endblock %}
