{% extends 'mabase.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="moncontainer">
        {{ form_start(form) }}
        <div class="title">Inscription</div>
        <div class="content">
            <form>
                <div class="user-details">
                    <div class="row">
                        <div class="input-box text-center">
                            <span class="details">{{ form_row(form.firstname) }}</span>
                        </div>
                        <div class="input-box text-center">
                            <span class="details">{{ form_row(form.lastname) }}</span>
                        </div>
                    </div>
                    <div class="input-box text-center mx-auto">
                        <span class="details">{{ form_row(form.email) }}</span>
                    </div>
                   <div class="row">
                       <div class="input-box text-center">
                           <span class="details">{{ form_row(form.plainPassword.first) }}</span>
                       </div>
                       <div class="input-box text-center">
                           <span class="details">{{ form_row(form.plainPassword.second) }}</span>
                       </div>
                   </div>
                </div>

                <div class="button">
                    <input type="submit" value="S'inscrire">
                </div>

            </form>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
