{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container">
            <h1 class="mt-3">Creer votre compte </h1><br>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_row(form.lastname,{'attr':{'class':'form-control mb-3'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.firstname,{'attr':{'class':'form-control mb-3'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.email,{'attr':{'class':'form-control mb-3'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.plainPassword.first,{'attr':{'class':'form-control mb-3'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.plainPassword.second,{'attr':{'class':'form-control mb-3'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.agreeTerms,{'attr':{'class':'checkbox mt-3 mx-2'}}) }}
            </div>
            <button class="btn btn-success mt-3" type="submit">Enregistrer</button>
            {{ form_end(form) }}
    </div>
{% endblock %}
