<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #112A46;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}"> <img alt="lodo d'ASA" src="{{ asset('media/logo.jpg') }}" style="height: 50px" class="img-fluid rounded-circle w-100" > </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Actualités</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('team') }}">Présentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/checkout">Faire un don</a>
                </li>
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('users') }}">Mon espace</a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('user_contact') }}">Contact</a>
                </li>
            </ul>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="rechercher" aria-label="Search">
                <button class="btn btn-outline-info" type="submit"><i class="bi bi-search"></i> </button>
            </form>


            <div class="d-flex">
                <ul class="navbar-nav me-auto">
                    {% if app.user %}
                        <li class="nav-item dropdown" style="margin-right: 10rem;">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.firstName }}</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('users_profil_modifier') }}">Modifier mes informations</a>
                                <a class="dropdown-item" href="{{ path('users_pass_modifier')}}">Modifier mon mot de passe</a>
                                <div class="dropdown-divider"></div>
                                {% if 'ROLE_ADMIN' in app.user.roles %}
                                    <a class="dropdown-item" href="{{ path('admin') }}">Administration</a>
                                    <div class="dropdown-divider"></div>
                                {% endif %}
                                <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                            </div>
                        </li>
                    {% else %}

                        <a class="btn btn-outline-info mx-1" type="button" href="{{path('app_login') }}">
                            Se connecter
                        </a>
                        <a class="btn btn-outline-info mx-1" type="button" href="{{ path('app_register') }}">
                            S'inscrire
                        </a>
                    {% endif %}

                </ul>

            </div>
        </div>
    </div>
</nav>
